body{
  margin-top:50px;
  font-family: "Gothic A1";
  background-color: #eee;
}

#main{
  max-width: 1440px;
  background-color: #fff;
  & .jumbotron{
    padding: 35px 165px;
    background-color: #fff;

    & .main-row{
      justify-content: space-between;
    }

     & .content-left{
       padding: 0;
       padding-right: 110px;
       max-width: 445px;
       width: 445px;
        & .main-heading{
          margin-top:20px;
          height: 74px;
          font-size: 28px;
          line-height: 32px;
          font-weight: bold;
          color: #000000;
        }

      & .main-text{
        font-size: 16px;
        line-height: 24px;
        margin-top:10px;
        height: auto;
      }

       & .content-box{
         max-width: 190px;
         margin: 0 auto;

         & .second-heading{
           margin-top: 20px;
           font-size: 22px;
           line-height: 28px;
           color: #111111;
           height: 28px;
         }

         & .second-text{
           font-size: 14px;
           line-height: 20px;
           height: 70px;
         }
       }
    }
    & .carousel-indicators{
      bottom:40px;
    }
    & .carousel-counter{
      position: absolute;
      z-index: 2222222222;
      color: #fff;
      background-color: #000;
      padding: 10px;
      font-size:15px;
      border-radius: 50%;
      bottom: 10px;
      left: calc(50% - 25px);
    }
  }
}

@media screen and (max-width: 1440px){
  #main{
    & .jumbotron{
      padding: 35px 80px;
      & .content-left{
        max-width: unset;
        width: unset;
        padding-right: 30px;

        & .main-heading{
          height: auto;
        }

        & .main-text{
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #main {
    & .jumbotron {
      padding: 35px 30px;

      & .content-left .main-heading{
        font-size: 24px;
        margin-bottom: 30px;
      }
    }
  }
}

